<div class="card">
  <div class="card-body">
    <ngx-audio-player
      [playlist]="songs"
      [displayTitle]="msaapDisplayTitle"
      [autoPlay]="false"
      muted="muted"
      [displayPlaylist]="msaapDisplayPlayList"
      [pageSizeOptions]="pageSizeOptions"
      (trackEnded)="onEnded($event)"
      [displayVolumeControls]="true"
      [displayRepeatControls]="msaapDisplayRepeatControls"
      [disablePositionSlider]="msaapDisablePositionSlider"
      [displayArtist]="msaapDisplayArtist"
      [displayDuration]="msaapDisplayDuration"
      forwards="true"
      [expanded]="true"
    ></ngx-audio-player>
  </div>
</div>
