<div class="sidemenu rounded">
  <div class="side-menu-header">
    <div class="mt-3">
      <h1 class="fz-16">SAVED PLAYLISTS</h1>
    </div>
    <div class="playlist-songs">
      <div class="mt-3" (click)="selectplaylist('')">
        <a href="#"><h4 class="ml-3 mt-2">All Songs</h4></a>
      </div>
      <ng-container *ngFor="let playlist of playlists; let $i = index">
        <div class="mt-3" (click)="selectplaylist(playlist)">
          <a href="#"
            ><h4 class="ml-3 mt-2">{{ playlist?.name }}</h4></a
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
