.home {
  .sidebar {
    height: calc(100vh - 80px);
  }
  .img_responsive {
    height: 60px;
    max-height: 60px;
    max-width: 60px;
    border-radius: 8px;
    .image {
      height: 100%;
      width: 100%;
      border-radius: 8px;
    }
  }
  .spinner-card {
    height: 66%;
    max-height: 66%;
    .spinner {
      margin: 25% auto;
    }
  }
  .content {
    .table-responsive {
      height: calc(100vh - 340px);
      max-height: calc(100vh - 340px);
      overflow-y: scroll;
    }

    .music__row {
      cursor: pointer;
    }
  }
  .footer {
    width: 66%;
    max-width: 66%;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
  }
}
