<div class="home">
  <div class="row">
    <div class="sidebar card mt-5 ml-5 col-md-3">
      <app-side-bar
        (setSelectedPlaylist)="selectedPlaylist($event)"
        (setPlaylistData)="setPlaylistDataForDialog($event)"
      ></app-side-bar>
    </div>
    <div class="content mt-5 rounded col-md-8">
      <app-header (searchText)="searchText($event)"></app-header>
      <!-- <div class="card">
        <h4 class="card-header">Music App</h4>
        <div class="card-body" *ngIf="!loading">
          <ngx-audio-player
            [playlist]="msaapPlaylist"
            [displayTitle]="msaapDisplayTitle"
            [autoPlay]="false"
            muted="muted"
            [displayPlaylist]="msaapDisplayPlayList"
            [pageSizeOptions]="pageSizeOptions"
            (trackEnded)="onEnded($event)"
            [displayVolumeControls]="msaapDisplayVolumeControls"
            [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider"
            [displayArtist]="msaapDisplayArtist"
            [displayDuration]="msaapDisplayDuration"
            forwards="true"
            [expanded]="true"
          ></ngx-audio-player>
        </div> -->
      <!-- </div> -->
      <div class="card" [class.spinner-card]="loading">
        <div class="spinner text-center" *ngIf="loading">
          <app-spinner></app-spinner>
        </div>
        <div class="table-responsive" *ngIf="!loading">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Duration</th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of songs; let $i = index">
              <tr>
                <td>{{ $i + 1 }}</td>
                <td class="music__row" (click)="selectedMusic(item, $i)">
                  <div class="img_responsive">
                    <img class="image" [src]="item?.image" />
                  </div>
                </td>
                <td class="music__row" (click)="selectedMusic(item, $i)">
                  {{ item?.title }}
                </td>
                <td>{{ item?.artist }}</td>
                <td>
                  {{ getDurationOfMusic(item?.duration) }}
                </td>
                <td>
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon button with a vertical three dot icon"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </td>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="addPlaylist(item)">
                    <mat-icon>add</mat-icon>
                    <span>Add to playlist</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>share</mat-icon>
                    <span>Share this song</span>
                  </button>
                </mat-menu>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="footer" *ngIf="!loading">
        <app-footer
          (playNextSong)="nextSongPlay()"
          [songs]="playerSongs"
        ></app-footer>
      </div>
    </div>
  </div>
</div>
