<nav class="navbar rounded navbar-light p-3 bg-light mb-2">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="form-group has-search mt-2 col-md-5">
      <span class="fa fa-search form-control-feedback"></span>
      <input
        [(ngModel)]="searchSongs"
        (ngModelChange)="searchSongs$.next($event)"
        type="text"
        class="form-control"
        placeholder="Search"
      />
    </div>
    <div class="col-md-1">
      <button (click)="logout()" type="button" class="btn btn-outline-primary mt-2">
        Logout
      </button>
    </div>
  </div>
</nav>
