<div class="save__playlist">
  <div class="row ml-auto">
    <h1>Save to..</h1>
  </div>
  <ng-container
    class="row card"
    *ngFor="let playlist of data.playlist; let $i = index"
  >
    <div class="mt-3">
      <mat-checkbox>
        {{ playlist?.name }}
      </mat-checkbox>
    </div>
  </ng-container>
  <div class="row mt-3">
    <div class="form-group has-search col-md-12">
      <input
        type="text"
        class="form-control"
        placeholder="Add new playlist"
        maxlength="40"
        [(ngModel)]="playlistName"
      />
    </div>
    <div
      class="row"
      *ngIf="submitted && (playlistName === '' || !playlistName)"
    >
      <div class="ml-4 error">Playlist name is required</div>
    </div>
  </div>
  <div class="row save__button mt-3 mr-auto">
    <button (click)="savePlaylist()" type="button" class="btn btn-primary">
      Save Playlist
    </button>
  </div>
</div>
