<div class="container mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <h4 class="card-header">Genisys Music Authentication</h4>
      <div class="card-body">
        <form
          [formGroup]="musicAppLogin"
          (ngSubmit)="onSubmit()"
          class="ng-dirty ng-touched ng-valid"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              formControlName="username"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              formControlName="password"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <button class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
