.spinner-simple {
  $size: 100px;
  $border: 35px;
  $bg: #232828;
  $time: 2s;
  position: relative;
  width: $size;
  height: $size;
  background: $bg;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    animation: zoomer $time ease infinite alternate;
  }

  > div {
    background: lighten($bg, 5%);
    transform: scale(0.8);
    animation-delay: #{$time / 1.3333};

    > div {
      background: lighten($bg, 10%);
      transform: scale(0.6);
      animation-delay: $time / 2;

      > div {
        background: lighten($bg, 15%);
        transform: scale(0.4);
        animation-delay: #{$time / 4};

        > div {
          background: lighten($bg, 20%);
          transform: scale(0.2);
          animation-delay: 0s;
        }
      }
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $bg;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0);
    font-weight: 700;
    transform-origin: center;
    letter-spacing: 1px;
    animation: zoomer-2 $time #{$time / 5.714} ease infinite alternate;
  }

  @keyframes zoomer {
    to {
      transform: scale(1) rotate(360deg);
      border-top-left-radius: 40%;
      border-bottom-right-radius: 40%;
    }
  }

  @keyframes zoomer-2 {
    from {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
      letter-spacing: 1px;
    }

    to {
      transform: translate(-50%, -50%) scale(1.01);
      opacity: 1;
      letter-spacing: 5px;
    }
  }
}
