<div class='container'>

    <div class="spinner-simple">
      <span>Loading</span>
      <div>
        <div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  
  </div>