/* You can add global styles to this file, and also import other style files */

$large-font: 16px;
$medium-font: 14px;

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #ededed;
}
.rounded {
  border-radius: 12px !important;
}
button:focus {
  outline: 0 !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

// styles common
.fz-16 {
  font-size: $large-font !important;
}

.fz-14 {
  font-size: $medium-font !important;
}

.error {
  font-size: $medium-font !important;
  color: red;
}
